<footer class="footer">
  <div class="container">
    <div class="col-md-4">
      <ul>CONTENTS
        <li><%= link_to"Home", root_path %></li>
        <li><%= link_to"Event", "#" %></li>
        <li><%= link_to"Tag", "#" %></li>
        <li><%= link_to"Share", share_path %></li>
        <li><%= link_to"Create Event", "#" %></li>
        <li><%= link_to"Mypage", "#" %></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>SUPPORT
        <li><%= link_to"Information", info_path %></li>
        <li><%= link_to"Help", help_path %></li>
        <li><%= link_to"Contact", contact_path %></li>
        <li><%= link_to"About", about_path %></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>POLICY
        <li><%= link_to"Comapany", company_path %></li>
        <li><%= link_to"Terms of Service", tos_path %></li>
        <li><%= link_to"Specified Commerical Transactions", sct_path %></li>
      </ul>
    </div>

  </div>

</div>
