<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%=link_to "CCC ブロックチェーン・仮想通貨イベントサイト CRYPTO CURRENCY CONFERENCE",
               root_path, id:"logo" %>
    <nav>
     <ul class="nav navbar-nav navbar-right">
       <li><%= link_to "Home", root_path %></li>
       <li><%= link_to "Event", "#" %></li>
       <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Tag <b class="caret"></b>
             </a>
             <ul class="dropdown-menu">
               <li><%= link_to "Tag list", "#" %></li>
               <li><%= link_to "Tag ranking", "#" %></li>
             </ul>
      </li>
       <li><%= link_to "Share", share_path %></li>
       <li><%= link_to "Create Event", "#" %></li>
       <li><%= link_to "Language", "#" %></li>
       <li><%= link_to "Notification", "#" %></li>
       <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Mypage", "#" %></li>
              <li><%= link_to "Profile", current_user %></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Account", login_path %></li>
        <% end %>
    </nav>
  </div>
